body {
    margin: 0;
    padding: 0;
    background: #121212;
    color: white;
    font-family: Arial;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.status,
.controls,
.slider-section,
.camera {
    background: #1e1e1e;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

#stopButton {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    background: red;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#cameraFeed {
    width: 100%;
    border-radius: 10px;
}

.button-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.middle-row {
    display: flex;
    gap: 20px;
}

.button-grid button {
    width: 140px;
    height: 60px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #2c2c2c;
    color: white;
}

.button-grid button:hover {
    background: #444;
}

#stopBtn {
    background: red;
}

#shutdownSystem {

    width: 100%;
    height: 60px;

    margin-top: 30px;

    background: black;
    color: white;

    border: 2px solid red;

    font-size: 18px;

    cursor: pointer;
}